@font-face {
	font-family: 'Lato Light';
	src: url('/fonts/lato_light.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/lato_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/lato_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/lato_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/lato_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/lato_light.svg#lato_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
html {
    background-color: rgb(225, 242, 242);
    font-family: 'Lato Light', sans-serif;
}

h2{
    color: rgb(98, 146, 218);
}
.cool{
    color: rgb(164, 107, 218);
}